@testimonials_button_color: #f6a408;
@border_color: #e5e5e5;

& when (@media-common = true) {
  .testimonials-index-index {

    .column.main {
      margin-top: 35px;

      h1 {
        color: #5a6465;
        font-weight: 500;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin-bottom: 20px;
        font-size: 46px;
      }
    }

    .pager {

      display: inline-block;
      width: 100%;
      border-top: 1px solid @border_color;
      padding: 10px 0;
      border-bottom: 1px solid @border_color;

      .pages {
        display: inline-block;
        float: right;

        .item {
          margin: 0 3px 0 0;
        }

        &> .label {
          text-transform: uppercase;
          width: auto;
          height: auto;
          font-weight: normal !important;
          position: relative;
          margin-right: 10px;
        }

        strong.page {
          border: 1px solid @border_color;
          background-color: transparent;
          padding: 0 10px;
        }

        a.page {
          color: black;

          &:visited {
            color: black;
          }
        }

        .action {
          border: none;
          background-color: transparent;
          margin-left: 0;
          box-shadow: none;
        }
      }

      .limiter {
        display: inline-block;
        float: left;
      }

      span.toolbar-number {
        display: inline-block !important;
      }

      .toolbar-amount {
        margin-right: 35px;
      }

      .limiter-label {
        text-transform: uppercase;
      }
    }
  }
  .testimonial-btn-container {
    float: right;
    display: inline-block;

    a {
      color: white;
      border: 2px solid @testimonials_button_color;
      background-color: @testimonials_button_color;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      padding: 10px 40px;
      display: inline-block;
      text-transform: uppercase;

      &:hover {
        background-color: transparent;
        color: @testimonials_button_color;
        text-decoration: none;
      }
    }
  }
  .submit-testimonial-modal {

    .modal-inner-wrap {
      width: 40%;
      box-shadow: none;
    }

    .modal-title {
      font-family: "Open Sans Semibold", sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 26px;
      text-transform: uppercase;
      border-bottom: none;
      text-align: center;
    }

    .modal-content {
      padding-bottom: 15px;
    }

    .modal-footer {
      border-top: none !important;
      padding: 20px 30px;
    }
  }
  button.testimonial-btn {
    box-shadow: none;
    border-radius: 0;
    background-color: #505050;
    border: 1px solid #505050;
    color: white;
    text-transform: uppercase;
    padding: 10px 30px;

    &:hover {
      background-color: white;
      color: #505050;
    }
  }
  button.testimonial-submit-btn {
    background-color: #ffa800;
    border: 1px solid #ffa800;
    margin-right: 20px;

    &:hover {
      color: #ffa800;
    }
  }
  #testimonial_text {
    min-height: 90px;
  }
  .testimonials-container {
    margin-top: 30px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;

    .testimonial-item {
      margin-bottom: 30px;
      display: inline-block;
      width: 100%;
    }

    .t-data {
      float: left;
      width: 15%;

      .t-customer-name {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 5px;
      }

      .t-date {
        font-size: 12px;
      }
    }

    .t-text {
      float: right;
      width: 85%;
      background-color: @border_color;
      padding: 15px 30px;
      box-sizing: border-box;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .testimonial-item {
    margin-bottom: 20px;

    .t-data,
    .t-text {
      width: 100% !important;
    }

    .t-text {
      margin-top: 10px;
    }
  }

  .testimonials-index-index {
    .column.main {
      h1 {
        width: 100%;
        text-align: center;
      }
    }
  }

  .testimonial-btn-container {
    width: 100%;

    a {
      padding: 10px 0px;
      width: 100%;
      text-align: center;
    }
  }
}