<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="copyright-container">
    <small class="copyright">
        <span><?= /* @escapeNotVerified */ $block->getCopyright() ?></span>
    </small>
</div>
