<h1 style="display: inline-block"><?= $block->escapeHtml(__('Testimonials')); ?></h1>
<?php if($block->isLoggedInCheck()): ?>
    <div class="testimonial-btn-container">
        <a href="javascript: void(0);" id="open-testimonial-modal"><?= $block->escapeHtml(__('Submit Your Testimonial')); ?></a>
    </div>
    <div id="testimonial-popup-modal">
        <span id="result-message"></span>
        <form id="testimonial-form" name="testimonial-form" method="post">
            <textarea id="testimonial_text" name="testimonial_text" class="required"></textarea>
        </form>
    </div>
    <script>
        require([
            'jquery',
            'domReady'
        ], function($){
            $('#open-testimonial-modal').click(function(){
                $('#testimonial-popup-modal').modal('openModal');
                return false;
            });
        });
    </script>
    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal',
                'loader',
                'mage/validation'
            ],
            function($, modal
            ) {
                var dataForm = $('#testimonial-form');
                dataForm.mage('validation', {});

                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: 'Submit your testimonial',
                    modalClass: 'submit-testimonial-modal',
                    buttons: [{
                        text: $.mage.__('Submit'),
                        class: 'testimonial-submit-btn testimonial-btn',
                            click: function () {
                                if (dataForm.valid()){
                                    jQuery.ajax({
                                        type: 'post',
                                        url: '<?php echo $block->getUrl("testimonials/index/submit") ?>',
                                        data: jQuery('#testimonial-form').serialize(),
                                        showLoader: true,
                                        cache: false,
                                        success: function (response) {
                                            $('#testimonial-form').hide();
                                            $('#result-message').show();
                                            if((response['message']) && (response['error'] === 0)) {
                                                $('#result-message').text(response['message']).css('color', 'green');
                                            } else if((response['message']) && (response['error'] === 1)) {
                                                $('#result-message').text(response['message']).css('color', 'red');
                                            }
                                        }
                                    });
                                }
                            }
                        },
                        {
                            text: $.mage.__('Close'),
                            class: 'testimonial-close-btn testimonial-btn',
                            click: function () {
                                $('#result-message').hide();
                                $('#testimonial-form').show();
                                this.closeModal();
                            }
                        }]
                };
                var popup = modal(options, $('#testimonial-popup-modal'));
            }
        );
    </script>
<?php endif; ?>