<?php $collection = $this->getTestimonials() ?>
<?php if($collection && count($collection)): ?>
    <div class="testimonials-container">
        <?php foreach($collection as $item): ?>
            <div class="testimonial-item">
                <div class="t-data">
                    <div class="t-customer-name"><?php echo $item->getFirstname() . ' ' . $item->getLastname() ?></div>
                    <div class="t-date"><?php echo date("m/d/y", strtotime($item->getCreatedAt())); ?></div>
                </div>
                <div class="t-text">
                    <?php echo $item->getTestimonialText() ?>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
    <?php if($this->getPagerHtml()): ?>
        <?php echo $this->getPagerHtml(); ?>
    <?php endif; ?>
<?php else: ?>
    <?php echo __('Currently there are no testimonials. Be the first to write it.'); ?>
<?php endif; ?>
