.homepage-banners {
  margin: 15px 0;
  line-height: 0;
  display: inline-block;

  .block1 {
    width: calc(~"50% - 10px");
    margin-right: 10px;
    float: left;
    display: inline-block;

    &:hover {
      img {
        -webkit-filter: brightness(110%);
      }
    }
  }
  .block2 {
    width: calc(~"50% - 10px");
    margin-left: 10px;
    float: left;
    display: inline-block;
    &:hover {
      > a img {
        -webkit-filter: brightness(110%);
      }
    }
    .block2_subblock1 {
      width: calc(~"50% - 10px");
      margin: 20px 10px 20px 0;
      float: left;
      display: inline-block;
      &:hover {
        img {
          -webkit-filter: brightness(110%);
        }
      }
    }

    .block2_subblock2 {
      width: calc(~"50% - 10px");
      margin: 20px 0 20px 10px;
      float: left;
      display: inline-block;
      &:hover {
        img {
          -webkit-filter: brightness(110%);
        }
      }
    }
  }
}
.block-products-slider {
  margin-top: 0;

  .block-title {
    text-align: center;
    margin-bottom: 0;

    strong {
      font-family: "Open Sans", 'Helvetica Neue', sans-serif, Helvetica, Arial;
      font-size: 40px;
      color: @navigation_background;
      font-weight: 600;
    }
  }

  .block-subtitle {
    text-align: center;
    margin-bottom: 20px;

    strong {
      font-family: "Open Sans", 'Helvetica Neue', sans-serif, Helvetica, Arial;
      font-size: 18px;
      color: @navigation_background;
      font-weight: 500;
    }
  }

  .product-item {
    .product-item-name {
      font-family: "Open Sans", 'Helvetica Neue', sans-serif, Helvetica, Arial;
      font-weight: 500;
      font-size: 14px;
      color: #4e4e4e;
      margin-bottom: 0px !important;
    }

    .price-box {
      margin: 8px 0 15px;
    }

    .action.towishlist {
       color: #999999;
    }
    .action.tocompare {
      color: #999999;
    }
    .action.primary {
      color: white;
      text-transform: uppercase;
      background-color: @theme_color_yellow1;
      border: 1px solid @theme_color_yellow1;
      font-family: "Open Sans", 'Helvetica Neue', sans-serif, Helvetica, Arial;
      font-weight: bold;
      font-size: 12px;

      &:active {
        background-color: @theme_color_yellow2;
        border: 1px solid @theme_color_yellow2;
      }
      &:hover {
        background-color: @theme_color_yellow2;
        border: 1px solid @theme_color_yellow2;
      }
    }
  }

  .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;

    button {
      box-shadow: none;

      &.owl-prev {
        float: left;
        margin-left: -15px;

        &:hover {
          background: transparent !important;

          .fas {
            color: @theme_font_color_black1;
          }
        }
      }

      &.owl-next {
        float: right;
        margin-right: -15px;
        &:hover {
          background: transparent !important;

          .fas {
            color: @theme_font_color_black1;
          }
        }
      }

      .fas {
        color: #999999;
        font-size: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .block-products-slider {
    width: 90%;
    margin: 0 auto;

    .actions-secondary {
      margin-top: 10px;
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .homepage-banners {
    .block1 {
      width: 100% !important;
      margin-right:  0 !important;
      margin-bottom: 20px;

      img {
        width: 100% !important;
      }
    }

    .block2 {
      width: 100% !important;
      margin-left: 0 !important;

      img {
        width: 100%;
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
  .block-products-slider {
    .actions-secondary {
      margin-top: 10px;
    }
  }
  .block-products-slider {
    .owl-item {
      text-align: center;
    }
  }
}