//
//    here learn how to add custom less file to theme
//
.header.content {
  padding: 24px 10px 17px 10px;
}

.logo {
  margin: 0;
  width: 200px;
  text-align: center;

  img {
    margin: 0 auto;
  }
}
.nav-sections {
  .lib-css(margin-bottom, 12px);

  .nav-sections-item-content {
    background-color: @navigation_background;

    .navigation {
      background-color: @navigation_background;
      text-align: center;

      .level0 {
        margin: 0 15px 0 0;

        > .level-top {
          text-transform: uppercase;
          color: white;
          font-weight: 500;

          &:hover {
            color: white;
          }
        }

        &.parent {
          > .level-top {
            padding: 0 15px;

            > .ui-menu-icon {
              &:after {
                content: '';
              }
            }
          }
        }

        .submenu {
          min-width: 180px;
          padding: 20px 0;

          li {
            text-align: left;
            text-transform: uppercase;
            color: @navigation_background;
            font-weight: 600;

            a {
              padding: 5px 20px;
            }
          }
        }
      }

      .level0.level-top:hover:after {
        content: '';
        display: block;
        position: absolute;
        top: calc(~"100% - 3px");
        left: 0;
        width: 100%;
        height: 3px;
        z-index: 1;
        background-color: #ffa800;
      }
    }
  }
}

.block-search {
  float: left;
  padding: 0;
  position: inherit;
  width: calc(~"(100% - 200px) / 2");
  z-index: 4;
  margin-top: 10px;

  .block-content {
    width: 250px;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    margin-left: 8px;
  }

  input {
    height: 36px;
    line-height: 36px;
    border: 1px solid #cccccc;
    color: #cccccc;
    font-family: "Open Sans", 'Helvetica Neue', sans-serif, Helvetica, Arial;
    font-size: 14px;

    &::placeholder {
      color: #cccccc;
      font-family: "Open Sans", 'Helvetica Neue', sans-serif, Helvetica, Arial;
    }
  }

  .action.search {
    height: 36px;
  }
}

.header-login-cart-container {
  display: inline-block;
  width: calc(~"(100% - 200px) / 2");
  float: right;
  margin-top: 10px;

  ul.header.links {
    list-style: none;
    width: 220px;
    position: relative;
    padding-left: 40px;
    display: inline-block;
    margin-bottom: 0;
    float: right;

    li {
      margin-bottom: 0px;
      display: inline-block;

      &.greet {
        display: inline-block;
        width: 100%;

        span {
          font-family: "Open Sans Regular", sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: @color-gray-middle3;
          font-size: 14px;
        }
      }

      a {
        font-family: "Open Sans Regular", sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: @theme_color_yellow1;

        &:hover {
          text-decoration: none;
          font-weight: bolder;
        }
      }

      &.authorization-link {
        .fa-user-circle {
          color: #ababab;
          font-size: 34px;
          position: absolute;
          left: 0;
          top: 3px;
        }
        &:hover {
          .fa-user-circle {
            color: @navigation_background;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .header-login-cart-container ul.header.links {
    width: 190px !important;
  }
  .minicart-wrapper {
    margin-right: 10px;
  }
  .block-search .block-content {
    margin-left: 0;
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .minicart-wrapper {
    margin-top: 0 !important;
  }
  .block-search {
    float: right !important;
    width: 80% !important;
    margin-right: 3%;
    text-align: right;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    .block-content {
      margin-left: 0px;
    }
  }

  .navigation {
    .level0 {
      border: none;
      text-align: left;

      > .level-top {
        padding: 8px 40px 8px 15px !important;
      }
    }
  }
  .header-login-cart-container {
    width: calc(~"100% - 200px") !important;
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
  .header-login-cart-container {
    ul.header {
      display: none !important;
    }
  }
}