//
//  Footer
//
@copyright__background-color: @theme-color-gray01;

& when (@media-common = true) {
  .copyright-container {
    .lib-css(background-color, @copyright__background-color);

    .copyright {
      .lib-css(color, @theme-color-font1);
      box-sizing: border-box;
      display: block;
      padding: 15px;
      text-align: left;
      border-top: #e2e2e2;
      max-width: @layout__max-width;
      margin: 0 auto;
      border-top: 1px solid #e2e2e2;
      .lib-css(background-color, @copyright__background-color);
    }
  }

  .page-footer {
    padding-bottom: 35px !important;

    .footer.content {
      padding-top: 38px;

      > .links {
        width: 76%;
        padding-right: 0px;
        float: left;

        .widget.block {
          width: 100%;


          .links-container {
            display: inline-block;
            width: 33.3%;
            padding-right: 0;
            float: left;

            .title {
              font-family: "Open Sans Semibold", sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
              font-size: 14px;
              margin-bottom: 10px;
              text-transform: uppercase;
              color: @theme_font_color_black1;

              &.social-links {
                margin-top: 25px;
                margin-bottom: 13px;
              }
            }

            li.nav {
              font-family: "Open Sans Regular", sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
              color: @theme_font_color_grey2;
              margin-bottom: 0;
              line-height: 24px;

              a {
                &:hover {
                  text-decoration: none;
                  color: @theme_button_color_hover;
                  font-weight: bolder;
                }
              }
            }

            .social-link-icon {
              display: inline-block;
              margin-right: 5px;

              a {
                background-color: @theme_social_icons_bkg;
                border-radius: 50%;
                padding: 0;
                text-align: center;
                width: 34px;
                height: 34px;
                display: inline-block;
                line-height: 40px;

                .fab {
                  color: @theme-color-gray01;
                  font-size: 22px;
                }

                &:hover .fab {
                  color: @theme_button_color;
                }
              }
            }
          }
        }
      }
    }

    .block.newsletter {
      width: 24%;

      .form.subscribe {
        display: inline-block;
      }

      .title {
        display: inline-block;
        font-family: "Open Sans Semibold", sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin-bottom: 15px;
        text-transform: uppercase;
        color: @theme_font_color_black1;
      }

      .field {
        width: 100%;
        display: inline-block;

        .control {
          &::before {
            content: '';
          }
        }

        input {
          padding-left: 9px;
          margin-bottom: 10px;
          border: 1px solid @input_border_color;
          font-size: 13px;
          color: @theme_font_color_grey1;
        }
      }

      .action.subscribe {
        border-radius: 0;
        background-color: @theme_button_color;
        text-transform: uppercase;
        border-color: @theme_button_color;
        padding: 8px 33px;
        margin-left: 0;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .page-footer {
    background: #f4f4f4;
    margin-top: auto;
    .block.newsletter {
      display: inline-block;
      margin: 20px 0 0 0;
      width: 100% !important;

      .title {
        width: 100%;
        text-align: center;
      }

      .field {
        width: 48% !important;
        margin: 0 1%;
        float: left;

        input {
          height: 38px;
        }
      }

      .actions {
        margin: 0 1%;
        display: inline-block;
        width: 48% !important;
        float: left;

        .subscribe {
          width: 100%;
        }
      }
    }
    .footer.content {
      > .links {
        width: 100% !important;
      }
      .links {
        > li {
          border: none !important;

          a {
            padding: 5px 0;
          }

          &.social-link-icon {
            padding: 5px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .links-container {
    ul.links{
      display: inline-block !important;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

  .page-footer {
    .links-container {
      width: 100% !important;

      .ul-links-container {
        border: 1px solid @input_border_color;
        padding: 10px 20px;
        margin-bottom: 10px;
      }

      .title {
        margin: 0 !important;
        &:after {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 22px;
          line-height: 22px;
          color: #757575;
          content: '\e614';
          font-family: 'luma-icons';
          float: right;
        }

        &.active {
          &:after {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 22px;
            line-height: 22px;
            color: #757575;
            content: '\e613';
            font-family: 'luma-icons';
          }
        }
      }

      ul.links {
        padding-left: 0;
        width: 100%;
        display: none;
        margin-top: 10px;

        li {
          margin: 0;
        }
      }
    }
  }

  .copyright {
    text-align: center !important;
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
  .page-footer {
    .block.newsletter {
      .field {
        width: 100% !important;
        margin: 0;
      }

      .actions {
        width: 100% !important;
        margin: 0;
      }
    }
  }
}