@import '_custom_header.less';
@import '_custom_footer.less';
@import '_custom_homepage.less';


.navigation,
.breadcrumbs,
.page-header .header.panel,
.header.content,
.footer.content,
.page-wrapper > .widget,
.page-wrapper > .page-bottom,
.block.category.event,
.top-container, .page-main {
  padding-left: 10px;
  padding-right: 10px;
}